<%- include('header') %>
  	<h1>FOOL <%= race.toUpperCase() %>!</h1>
    <h1><%= name.toUpperCase() %></h1>
    <p>hello, <%= name %></p>
    <p>your are <%= age %> old</p>
    <p>your like <%= hobby %> </p>
<%- include('footer') %>