<%- include('header') %>
  	<h1>FOOL <%= race %>!</h1>
    <h1><%= name %></h1>
    <p>hello, <%= name %></p>
    <p>your are <%= age %> old</p>
    <p>your like <%= hobby %> </p>
    <img src="/./drawing.jpg" alt="" style="width:800px;">

<%- include('footer') %>